DATABASE_URL="postgres://aiscan:aiscan@localhost:5432/aiscan"
INTERNAL_API_KEY="change-me"
PUBLISH_TIME="09:00"
ENABLE_SCHEDULER="true"
TZ="Asia/Shanghai"
GITHUB_TOKEN=""
SOCIAL_AGG_A_BASE_URL=""
SOCIAL_AGG_A_API_KEY=""
SOCIAL_AGG_B_BASE_URL=""
SOCIAL_AGG_B_API_KEY=""
